{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}
{% set pageCriticalStyles = ['css/work-landing.css'] %}
{% set js %}
  {% include "js/tabbed.js" %}
{% endset %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}
  </article>
  <div class="[ no-js-hidden ] [ panel dot-shadow ] [ bg-light-glare ]">
    <div class="[ wrapper ] [ flow flow-space-700 ]">
      <h2 class="[ headline ] [ measure-micro color-quaternary ]" data-highlight="dark">Photo Catalogue</h2>
      <article>
        {% include "partials/portfolio.html" %}
      </article>
    </div>
  </div>

  {% include "partials/cta.html" %}

{% endblock %}
